* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Ubuntu";
	overflow-x: hidden;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 100vh;
	width: 100vw;

	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/car-background.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo img {
	width: 275px;
	height: 100px;
	cursor: pointer;
}

.nav-links {
	flex-wrap: wrap-reverse;
}

.nav-links > li {
	display: inline;
	list-style-type: none;
	margin-right: 35px;
}

.nav-links > li a,
.hover > span,
.schedule,
.schedule-2,
.footer-links > li a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

.hover {
	position: relative;
	z-index: 1;
}

.hover span {
	margin: 0 10px;
}

.hover-menu {
	display: none;
	z-index: 2;
}

.hover:hover .hover-menu {
	display: block;
	background-color: #dbdbdb;
	width: 220px;
	border-radius: 5px;

	position: absolute;
	top: 19.5px;
	left: -35px;

}

.hover-menu > li {
	margin-bottom: 10px;
	list-style-type: none;
	text-align: center;

	padding: 5px;

}

.hover-menu > li a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: initial;
}

.hover-menu > li:first-of-type {
	padding-top: 14px;
}

.nav-links > li a:hover,
.hover-menu > li a:hover,
.footer-links > li a:hover {
	transition: 0.2s all ease 0.2s;
	color: #00d11c;
}

.hover-menu > li a:hover {
	color: #00d11c;
}

.hero-title {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 175px;
}

.title, 
.schedule-title {
	font-size: 4em;
	text-transform: uppercase;
	text-shadow: 3px 3px 1px black;
	margin-bottom: 10px;
}

.sub-title {
	font-size: 1.55em;
	margin-bottom: 13px;
}

.title,
.sub-title {
	color: #fff;
}

.schedule {
	margin-top: 50px;
	
}

.schedule,
.schedule-2 {
	padding: 20px 30px;
	border-radius: 8px;
	background-color: #00d11c;
	font-size: 1.3em;
	text-transform: uppercase;
}

.schedule:hover,
.schedule-2:hover {
	background-color: #00ff22;
}


.why-cars-inc {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;
	width: 100vw;

	margin-top: 25px;
}

.brown-car {
	/*border: 2px solid black;*/
	width: 39%;
}

.brown-car img {
	width: 95%;
	height: 550px;
}

.why-cars-text {
	width: 45%;
	/*border: 2px solid black;*/

	padding: 20px;
	margin-bottom: 85px;

	line-height: 1.8;
	letter-spacing: 0.03em;
}

.why-cars-text > h1 {
	font-size: 4em;
}

.why-cars-text > p {
	margin: 20px 0;
	font-size: 1.1em;
}

.schedule-now {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/car-background-2.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.schedule-title {
	letter-spacing: 0.05em;
}

.schedule-subtitle {
	margin: 15px 0;

	font-size: 1.25em;
	letter-spacing: 0.02em;
}

.schedule-2 {
	margin-top: 35px;

	font-size: 1.3em;
}

.schedule-title,
.schedule-subtitle {
	color: #fff;
}

.footer	{
	display: flex;
	flex-direction: column;

	height: 35vh;
}

.footer-navbar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #404040;

	height: 75%;
}

.footer-links {
	display: flex;
}

.footer-links > li {
	margin: 0 20px;
	list-style-type: none;
}

.footer-links > li a {
	font-size: 1.3em;
}

.footer-info {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2b2b2b;

	height: 25%;

	color: #969696;

	font-size: 0.98em;
}

.copyright {
	margin-left: 100px;
	margin-right: auto;
}

.contact-info {
	display: flex;
	margin-left: auto;
	margin-right: 100px;
}

.email-us {
	margin-left: 25px;
}

.call,
.email{
	color: #fff;
	font-weight: bold;
}